/*Default*/
.text {
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
}

/*Size*/
.text-lg {
    font-size: 1.25rem;
}

.text-md {
    font-size: 1rem;
}

.text-sm {
    font-size: 0.875rem;
}

/*Weight*/
.text-regular {
    font-weight: 400;
}

.text-bold {
    font-weight: bold;
}
