/*Default*/
.counter {
    min-width: 4.5rem;
    padding: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 6px;
    background: var(--base-button);

    color: var(--base-title);
    text-align: center;
}

.counter button {
    color: var(--purple);
    background: transparent;
    border: 0;
    border-radius: 4px;
}

.counter button:hover {
    color: var(--purple-dark);
    cursor: pointer;
}

/*Size*/
.counterXsSize {
    height: 2rem;
}

.counterDefaultSize {
    height: 2.375rem;
}
