.addressCard {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}

.addressCardTitle {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 8px;
}

.addressCardTitle svg {
    color: var(--yellow-dark);
    font-size: 1.375rem;
}

.addressCardDescription {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

.addressCardDescription span {
    width: 100%;
    color: var(--base-text);
}

.addressCardDescription span:first-child {
    color: var(--base-subtitle);
}

.addressCardForm {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
}

.addressCardFormRow {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.rowGrid2 {
    display: grid;
    grid-template-columns: 12.5rem 21.75rem;
    gap: 12px;
}

.rowGrid3 {
    display: grid;
    grid-template-columns: 12.5rem 17.25rem 3.75rem;
    gap: 12px;
}
