:root {
    /*Base*/
    --base-title: #272221;
    --base-subtitle: #403937;
    --base-text: #574F4D;
    --base-label: #8D8686;
    --base-hover: #D7D5D5;
    --base-button: #E6E5E5;
    --base-input: #EDEDED;
    --base-card: #F3F2F2;
    --background: #FAFAFA;
    --white: #FFFFFF;

    /*Produto*/
    --yellow-dark: #C47F17;
    --yellow: #DBAC2C;
    --yellow-light: #F1E9C9;
    --purple-dark: #4B2995;
    --purple: #8047F8;
    --purple-light: #EBE5F9;

    /*Fonte*/
    --roboto-family: 'Roboto', sans-serif;
    --baloo-family: 'Baloo 2', cursive;

    /*Outros*/
    --default-box-shadow: 0 0 0 2px var(--yellow-dark);
    --default-sides-padding: 394px;

    /*Breakpoints*/
    /*--xl: 1200px;*/
    /*--lg: 992px;*/
    /*--md: 768px;*/
    /*--xs: 576px;*/
}

@media screen and (max-width: 1600px) {
    :root {
        --default-sides-padding: 122px;
    }
}

@media screen and (max-width: 1200px) {
    :root {
        --default-sides-padding: 100px;
    }
}

@media screen and (max-width: 992px) {
    :root {
        --default-sides-padding: 104px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --default-sides-padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --default-sides-padding: 40px;
    }
}

:focus {
    outline: transparent;
    box-shadow: var(--default-box-shadow);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    font-family: var(--roboto-family);
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}

.w-100 {
    width: 100%;
}
