.header {
    width: 100%;
    height: 6.5rem;
    padding: 32px var(--default-sides-padding);
    position: fixed;
    top: 0;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--background);
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}

.location {
    height: 2.375rem;
    padding: 8px;

    display: flex;
    flex-direction: row;
    gap: 4px;

    color: var(--purple-dark);

    background: var(--purple-light);
    border-radius: 6px;
}

.location svg {
    color: var(--purple);
    font-size: 1.375rem ;
}
