.checkout {
    padding: 0 var(--default-sides-padding);

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 32px;
}

.checkoutForms {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
}

.checkoutFormsCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.checkoutCart {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
}
