.intro {
    width: 100%;
    min-height: 34rem;
    padding: 0 var(--default-sides-padding);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 56px;

    background-image: url("../../../../assets/pages/home/background.svg");
    background-repeat: repeat-x;
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    .intro {
        flex-direction: column;
    }
}
